.nav-link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #e50914;
}

/* MOBILE MENU VERSION */
.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-nav .nav-link {
  font-size: 1.4rem;
}
