@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
  font-family: "Oswald", sans-serif;
}

/* Aggiungo padding-top per evitare che il contenuto vada sotto l'header fisso */
main {
  /* padding-top: 80px; */
}
